@page "/"

<PageTitle>Home</PageTitle>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Groups</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
     
    </tbody>
</table>